.typeFeedback {
  cursor: pointer;
  border-radius: 5px;
  border-color: blueviolet;
  text-transform: capitalize;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
}
.typeFeedback:not(:last-child) {
  margin-right: 20px;
}
